@charset "utf-8";

body {
    font-size: 14px
}

.header, .footer {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99
}

.header {
    top: 0;
    height: 60px;
    background: #4eb6ec;
    padding: 0;
}

#wall-bg {
    position: absolute;
    top: -1px;
    left: 0;
    z-index: -1;
}

#wall-bg span {
    position: absolute;
    width: 100%;
    height: 149px;
    top: 0;
    left: 0;
    background: url(https://image.zhihuishu.com/testzhs/ablecommons/demo/201701/aa7df9eb5c77480cb0bd6fac5add0ff5.png) repeat-x;
    z-index: 10;
}

.loginWraper {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #FFFFFF
}

.loginBox {
    position: absolute;
    width: 417px;
    height: 430px;
    left: 50%;
    top: 43%;
    margin-left: -178px;
    margin-top: -184px;
    padding-top: 38px;
    border-radius: 25px;
}

@media (max-width: 617px) {
    .loginbox {
        width: 100%;
        position: static;
        margin-top: 0;
        margin-left: 0;
    }
}

.loginBox .row {
    margin-top: 20px;
    margin-bottom: 31px
}

.loginBox .row .form-label .Hui-iconfont {
    font-size: 24px
}

.loginBox .input-text {
    width: 360px
}

@media (max-width: 617px) {
    .loginBox .input-text {
        width: 80%
    }
}

.yzm a {
    color: #426374;
    font-size: 12px
}

#span_msg {
    font-size: 14px;
    color: Red;
    line-height: 40px;
    height: 40px;
    margin-left: 10px;
    width: 160px;;
    float: left
}

.hd_msg {
    font-size: 12px;
    color: #fff;
    height: 30px;
    z-index: 100;
    position: absolute;
    padding-left: 50px;
    padding-top: 5px
}

.hd_msg a {
    color: #fff
}

.hd_msg a:hover {
    color: #fff;
    text-decoration: underline
}

.footer {
    height: 46px;
    line-height: 46px;
    bottom: 0;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background-color: #426374
}

#ie6-warning {
    background: #fff url(/jscss/demoimg/201006/warning.gif) no-repeat 3px center;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    color: #333;
    width: 97%;
    padding: 2px 15px 2px 23px;
    text-align: left
}

#ie6-warning a {
    text-decoration: none
}

* {
    box-sizing: border-box;
}

.inputrow {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 30px;
    position: relative;
    z-index: 1;
    text-align: center;
}

.inputrow:first-child {
    padding: 0px 0px;
}

.inputrow span {
    position: relative;
    display: inline-block;
    margin: 0px 0px;
}

.gate {
    display: inline-block;
    width: 253px;
    padding: 10px 0 10px 15px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    /*color: #377D6A;*/
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 65px;
    transition: all .3s ease-in-out;
}

.gate:focus {
    border: solid 1px #1E90FF;
}

.gate::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
}

.gate + label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 15px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    /*background: #7AB893;*/
    transition: all .4s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transform-origin: left bottom;
    z-index: 99;
}

.gate + label:before, .gate + label:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;
    background: #3097df;
    transform-origin: left bottom;
    transition: all .4s ease-in-out;
    pointer-events: none;
    z-index: -1;
}

.gate + label:before {
    background: rgba(3, 36, 41, 0.2);
    z-index: -2;
    right: 20%;
}

span:nth-child(2) .gate {
    text-indent: 85px;
}

span:nth-child(2) .gate:focus,
span:nth-child(2) .gate:active {
    text-indent: 0;
}

.gate:focus,
.gate:active {
    color: #377D6A;
    text-indent: 0;
    background: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.gate:focus::-webkit-input-placeholder,
.gate:active::-webkit-input-placeholder {
    color: #aaa;
}

.gate:focus + label,
.gate:active + label {
    transform: rotate(-66deg);
    border-radius: 3px;
}

.gate:focus + label:before,
.gate:active + label:before {
    transform: rotate(10deg);
}
#footer {
    width: 100%;
    color: black;
    float: left;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;
    /* background-color: blue; */
}

#footer a {
    text-decoration: none;
    color: black;
}

#footer a:hover {
    color: rgb(0, 81, 255);
}